### use of max and min

In [1]:
number = [12,25,342,23]

In [2]:
min(number)

12

In [14]:
max(number)

342

In [15]:
min(123,100,131)

100

#### Simple way to print numbers in same line using `end=` argument

In [12]:
for num in range(5,10):
    print(num, end=' ')

5 6 7 8 9

In [13]:
print (dir(object),end=' ')

['__class__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__']

### to print decimal points.

In [20]:
amount = 12/5
## prints the decimal point of 20 decimal position
print(f'{amount: .20f}')

 2.39999999999999991118

## using decimal library

In [21]:
## from the decimal module, we import type called Decimal
from decimal import Decimal
## create an object of Decimal since it is object.
principal = Decimal('1200.00')   ## passed as string the deimal value will be represented precisely in memory
print(principal)

1200.00

In [22]:
rate = Decimal('0.10')

### formatting print with right alignment

In [25]:
## perfomring decimal arithmetic can be done on Decimal type only
for year in range(1,11):
    amount = principal * (1 + rate) ** year
    print( f'{year:>2}{amount:>10.2f}' ) # year: >2 -> right align 1, 2 will be <space>1, etc
    # > - represents field width.
    # >10.2f - is right align with 10 space and .2f is decimal

 1   1320.00
 2   1452.00
 3   1597.20
 4   1756.92
 5   1932.61
 6   2125.87
 7   2338.46
 8   2572.31
 9   2829.54
10   3112.49

#### `break` - break from a loop 
#### `continue` - to pass that itreation

In [27]:
for num in range(1,25):
    if(num ==12):
        break
    if(num in (8,9,10)):
        continue
    print(num, end=' ')

1 2 3 4 5 6 7 11

### boolean and, or and not

In [28]:
gender = 'Male'
age = 70

if age > 65 and gender == 'Male':
    print('senior person')

senior person

In [29]:
score = 80

if score > 80 or score <90:
    print('grade B')

grade B

In [31]:
grade = 5

if not grade > 10:
    print('the grade is less than 10 value = ',grade)

the grade is less than 10 value =  5

### Statistics - Measures of Central Tendency - Mean, Median and Mode
 - Mean - average
 - Median - middle value when value arranged in sorted order
 - Mode - the most frequently occuring value 
         - (exactly same number of occurance - no mode)
         - ( multiple numbers can have occurance - library can give exceptions)

In [32]:
grades_scores = [85,93,45,89,85]

In [34]:
## mean using built-in function
mean1 = sum(grades_scores)/len(grades_scores)
print(mean1)

79.4

### using statistics module
 - Pressing <tab> key helps displaying list of function starting with

In [35]:
import statistics

In [36]:
statistics.mean(grades_scores)

79.4

In [39]:
statistics.median(grades_scores) # 45, 85,85,89,93

85

In [40]:
statistics.mode(grades_scores)

85

In [41]:
## simple buit-in for sort
sorted(grades_scores)

[45, 85, 85, 89, 93]